/*  the webpage is divided to "header", "main", "footer"  */
/*  there are 4 sections to the "main" tag, each is designed with a tag of "article"  */

html {
  font-size: 16px;
}
body {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
}
h1, h2, h3, h4, p {
  color: #4a4a4a;
}
h1 {
  /* font-size: 3.2em;
  font-weight: bold;
  margin-bottom: 0.75em;
  line-height: 1.2em;  */
  font-size: 280%;
  font-weight: bold;
  line-height: 120%;
}
h2 {
  /*  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 1.2em;
  line-height: 1.2em; */
  font-size: 150%;
  font-weight: bold;
  line-height: 120%;
}
main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  border: 1px solid red;
  width: 100%;
  height: 64px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.site-title {
  display: flex;
  height: 32px;
  border: 1px solid purple;
  align-items: center;
  margin-left: 24px;
}
.site-title img {
  border: 1px solid blue;
  height: 3rem;
}
.site-title span {
  border: 1px dashed green;
  font-family: Ubuntu;
  font-size: 1.35rem;
  color: #9b9b9b;
}
.site-title span:nth-child(2n+0) {
  color: #4a4a4a;
}
.desktop {
  border: 1px solid pink;
  margin-right: 16px;
}
.desktop li {
  display: inline-block;
  border: 1px solid aqua;
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  margin: 0 8px;
}
.phone {
  display: none;
}
/*  media queries for phone size screens   */
@media only screen and (max-width:470px) {
  .site-title,
  .desktop     {
    display: none;
  }
  .phone {
    display: flex;
    width: 100%;
  }
  .phone ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .phone img {
    width: 120%;
  }
}
/*  end header - starting 1st container  */
.container {
  display: flex;
  border: 2px solid blue;
  width: 100%;
  /* align-items: center;  (check if necessary)*/
  font-family: Roboto, sans-serif;
  background-color: #d8d8d8;
}
.left {    /*  sections  */
  display: flex;
  width: 60%;
  flex-direction: column;
  border: 1px dashed lime;
}
.right {    /*  sections  */
  display: flex;
  width: 40%;
  flex-direction: column;
  border: 1px dashed orange;
}
.text-container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  text-align: left;
  margin: auto 12px;
  max-height: 20rem;
  width: 85%;
}
.img-container {
  border: 1px solid deeppink;
  margin: 32px 24px;
  max-width: 100%;
  display: block;
}
.img-container img,
.img-container video {
  display: block;
  width: 100%;
}

.text-container h1 {
  margin-bottom: 7%;
  border: 1px solid green;
}
.text-container h2 {
  margin-bottom: 7%;
  border: 1px dashed green;
}
.button {
  text-align: center;
  background-color: #4a4a4a;
  width: 80%;
  border: 1px solid aqua;
}
.button a {
  color: white;
  display: block;
  border: 1px solid lightgray;
  padding: 1rem;
}
/*  end 1st container - starting 2nd container  */
.about-us {
  background-color: white;
}
.left h1 {
  font-size: 250%;
  line-height: 100%;
  border: 1px solid green;
  margin: 0 24px 24px 24px;
}
.left p {
  line-height: 150%;
  border: 1px solid green;
  margin: 0 24px 24px 24px;
  font-size: 1.15rem;
}
.about-us .author {
  margin: 0 24px 32px 24px;
  border: 1px solid red;
}
.about-us .right {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.side-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  border: 2px dashed red;
}
.img-box {
  width: 35%;
  margin: 16px;
  border: 1px solid aqua;
}
.img-box img {
  width: 100%;
}
.text-box {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 150%;
  border: 1px dashed yellow;
}
.text-box h2,
.text-box p,
.text-box span {
  padding-bottom: 8px;
}
.text-box a {
  color: #37b6ee;
}
/*  starting 3rd section "programs"  */
.programs {
  display: flex;
  flex-direction: column;
}
.programs h1 {
  display: flex;
  margin: 32px auto;
  border: 1px solid green;
}
.p-box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 72px;
  border: 1px solid red;
}
.p-box {
  width: 30%;
  height: 375px;
  border: 2px dashed turquoise;
  background-color: white;
  margin-bottom: 32px;
}
.p-box img {
  width: 100%;
}
.p-box h2, .p-box p {
  padding: 8px 0;
  margin: 8px 16px;
}
.p-box p {
  color: #929292;
  line-height: 150%;
}
/*  starting 4th section "exhibit"  */
.exhibit {
  background-color: white;
}
footer {
  display: flex;
  border-top: 1px solid #929292;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  justify-content: space-between;
  font-family: Roboto;
}
footer a {
  color: #4a4a4a;
  padding: 0 5px;
}
footer nav,
footer p {
  margin: 16px 24px 0 24px;
}
